// Variables for the color scheme

// General colors:
$bud-green: #79B473;
$rich-black: #0D1321;
$white: #FCFCFC;
$sandy-brown: #F19955;
$vivid-tangerine: #FF8E72;
$light-gray: #F4F4F4;
$black: #08090A;

// Typo:
$gray-typo: #686963;

// CTA:
