body {
  background-color: $gray-bk;
}

h1 {
  color: $white;
  font-size: 32px;
  font-weight: 600;
}

h2 {
  margin: 0;
  color: $sandy-brown;
  font-size: 32px;
  font-weight: bold;
}

p {
  color: black;
}
