p {
  color: $black;
}
a {
  color: $black;
}
hr {
  width: 35%;
}
// .article {
//   background-color: $white;
//   border: solid;
//   padding-left: 30vw;
// }

.article {
  overflow: hidden;
  height: 150px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  margin-bottom: 25px;
}

.article-info {
  display: flex;
  flex-direction: column;
  width: 86%;
  padding: 10px 10px;
  height: 90%;
  p {
  text-align: left;
  }
  h2 {
    text-align: center;
  }
}

.article img {
  height: 120px;
  width: 120px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  object-fit: cover;
  margin-left: 15px;
  border-radius: 5px;
}

.article h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.article p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.article .article-infos {
  padding: 16px;
}

.article-params {
  font-size: 15px;
  padding-right: 10px;
  height: 120px;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $sandy-brown;
  transition: background 0.3s ease;
  margin-left: 15px;
}

.btn-flat:hover {
  background: $dark-sandy;
  color: white;
}
