// Specific CSS for your home-page

#pages-home {
  background: white;
}

p {
  color: $white;
}

h1 {
  color: $sandy-brown;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  vertical-align: middle;
  height: 100vh;
}
