// Specific CSS for your home-page

#pages-home {
  background: white;
}

a {
  color: $white;
  text-decoration: none;
  background-color: transparent;
  &:hover {
    color: $black;
    text-decoration: none;
    background-color: $white;
  }
}

p {
  color: $white;
}

h1 {
  color: $sandy-brown;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  vertical-align: middle;
  height: 100vh;
}
