<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/1903970/pexels-photo-1903970.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);">
  <div class="">
    <h1>Make Plants Great Again !</h1>
    <div class="">
      <%= link_to "CREATE YOUR GARDEN", new_garden_path %>
    </div>
    <div class="">
       <% @plants.each do |plant| %>
       <div class="card">
          <h3 class="pt-5"><%= link_to plant.science_name, plant_path(plant) %> </h3>
          <% if plant.photo.attached? %>
          <%=  cl_image_tag plant.photo.key%>
          <% end %>
       </div>
       <% end %>
    </div>
  </div>
</div>
