<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/1903970/pexels-photo-1903970.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);">
    <h1>Make Plants Great Again !</h1>
    <div class="button">
      <%= link_to "Create your Garden", new_garden_path %>
    </div>
</div>
<div class="container">
  <h2 class="text-center">Comment ça marche ?</h2>
  <div class="cards">
    <div class="card">
      <img src="images/green.svg" alt="">
      <h4>Créer ton jardin</h4>
      <p>Do it. Do it. Do it.</p>
    </div>
    <div class="card">
      <img src="images/cactus.svg" alt="">
      <h4>Ajoute tes plantes</h4>
      <p>Code. Code. Code.</p>
    </div>
    <div class="card">
      <img src="images/mario.svg" alt="">
      <h4>Sauve tes plantes de la soif</h4>
      <p>Build. Build. Build.</p>
    </div>
  </div>
</div>
<div class="cards">
  <% @plants.take(6).each do |plant| %>
  <div class="card">
    <h3 class="pt-5"><%= link_to plant.science_name, plant_path(plant) %> </h3>
    <% if plant.photo.attached? %>
    <%=  cl_image_tag plant.photo.key%>
    <% end %>
  </div>
  <% end %>
</div>
